<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <LINK rel="website icon" type="png" href="img/logo.png">
    <!-- <LINK rel="website icon" type="png" href="https://iili.io/J7o6qa2.md.png"> -->
    <link rel="stylesheet" href="style/profile.css">
    <title>Outlawsfy | User Profile</title>
</head>

<body oncontextmenu="return false;">
    <!-- <div id="preloader">
        <div class="loading"></div>
    </div> -->
    <div class="back" id="back">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-arrow-left-square">
            <rect width="18" height="18" x="3" y="3" rx="2" />
            <path d="m12 8-4 4 4 4" />
            <path d="M16 12H8" />
        </svg> Back
    </div>
    <div class="container">
        <div class="user-img">
            <img src="<%= imgSrc %>" alt="">
        </div>
        <div class="profile-detail">
            Profile Details
        </div>
        <div class="info">
            <!-- <span class="attribute">Username </span> <span class="value">akash </span> <br>
            <span class="attribute">Email Id </span> <span class="value">&nbsp;&nbsp;1167@gmail.com </span> <br>
            <span class="attribute">Password </span> <span class="value">&nbsp;1167 </span> <br> -->
            <table>
                <tr>
                    <td class="attribute">Username </span></td>
                    <td class="value">
                        <%= urname %> </span>
                    </td>
                </tr>
                <tr>
                    <td class="attribute">Email Id </span></td>
                    <td class="value">
                        <%= uremail %> </span>
                    </td>
                </tr>
                <tr>
                    <td class="attribute">Password </span></td>
                    <td class="value">
                        <%= urpassword %> </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
<script>
    const backButton = document.getElementById('back');

    backButton.onclick = () => {
        history.back();
    }

</script>

</html>